html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}

.layout-equal-height {
    flex-grow: 1;
    height: 0;
}

.layout-equal-width {
    flex-grow: 1;
    width: 0;
}

#editors {
    border-top: 1px solid black;
}

#web {
    border: none;
    border-top: 1px solid black;
}

.menubar {
    margin: 0;
    padding: 0 10px;
}

.menubar > li {
    display: inline-block;
    padding: 5px 0;
    position: relative;
}

.menubar li {
    list-style-type: none;
    white-space: nowrap;
    cursor: default;
}

.menubar ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -5px;
    padding: 0;
    border-bottom: 1px solid lightgrey;
    z-index: 10;
    background-color: white;
}

.menubar ul li {
    padding: 0 5px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.menubar li:hover ul {
    display: block;
}

.menubar li ul li:hover {
    background-color: lightgrey;
}
