html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}

.layout-equal-height {
    flex-grow: 1;
    height: 0;
}

.layout-equal-width {
    flex-grow: 1;
    width: 0;
}

#web {
    border: none;
    border-top: 2px solid black;
}
